In [1]:
#Dependencies
import pandas as pd
import datetime
import numpy as np
import math

In [2]:
yr2018 = pd.read_csv('Resources/2018/2018_merged.csv')
yr2018.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,932,2018-01-01 02:06:17.5410,2018-01-01 02:21:50.0270,3183,Exchange Place,40.716247,-74.033459,3199,Newport Pkwy,40.728745,-74.032108,31929,Subscriber,1992,1
1,550,2018-01-01 12:06:18.0390,2018-01-01 12:15:28.4430,3183,Exchange Place,40.716247,-74.033459,3199,Newport Pkwy,40.728745,-74.032108,31845,Subscriber,1969,2
2,510,2018-01-01 12:06:56.9780,2018-01-01 12:15:27.8100,3183,Exchange Place,40.716247,-74.033459,3199,Newport Pkwy,40.728745,-74.032108,31708,Subscriber,1946,1
3,354,2018-01-01 14:53:10.1860,2018-01-01 14:59:05.0960,3183,Exchange Place,40.716247,-74.033459,3267,Morris Canal,40.712419,-74.038526,31697,Subscriber,1994,1
4,250,2018-01-01 17:34:30.1920,2018-01-01 17:38:40.9840,3183,Exchange Place,40.716247,-74.033459,3639,Harborside,40.719252,-74.034234,31861,Subscriber,1991,1

In [3]:
yr2018.count()

tripduration               353892
starttime                  353892
stoptime                   353892
start station id           353892
start station name         353892
start station latitude     353892
start station longitude    353892
end station id             353892
end station name           353892
end station latitude       353892
end station longitude      353892
bikeid                     353892
usertype                   353892
birth year                 353892
gender                     353892
dtype: int64

In [ ]:
# yr2018.loc[yr2018['gender'] == 1] = 'Male'
# yr2018.head(11)

In [4]:
yr2018['gender'].replace([0,1,2],['Unknown','Male', 'Female'],inplace=True)
yr2018.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,932,2018-01-01 02:06:17.5410,2018-01-01 02:21:50.0270,3183,Exchange Place,40.716247,-74.033459,3199,Newport Pkwy,40.728745,-74.032108,31929,Subscriber,1992,Male
1,550,2018-01-01 12:06:18.0390,2018-01-01 12:15:28.4430,3183,Exchange Place,40.716247,-74.033459,3199,Newport Pkwy,40.728745,-74.032108,31845,Subscriber,1969,Female
2,510,2018-01-01 12:06:56.9780,2018-01-01 12:15:27.8100,3183,Exchange Place,40.716247,-74.033459,3199,Newport Pkwy,40.728745,-74.032108,31708,Subscriber,1946,Male
3,354,2018-01-01 14:53:10.1860,2018-01-01 14:59:05.0960,3183,Exchange Place,40.716247,-74.033459,3267,Morris Canal,40.712419,-74.038526,31697,Subscriber,1994,Male
4,250,2018-01-01 17:34:30.1920,2018-01-01 17:38:40.9840,3183,Exchange Place,40.716247,-74.033459,3639,Harborside,40.719252,-74.034234,31861,Subscriber,1991,Male

In [5]:
yr2018['tripduration'] = yr2018['tripduration']/60
# yr2018.round({'tripduration': 2})
yr2018.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,15.533333,2018-01-01 02:06:17.5410,2018-01-01 02:21:50.0270,3183,Exchange Place,40.716247,-74.033459,3199,Newport Pkwy,40.728745,-74.032108,31929,Subscriber,1992,Male
1,9.166667,2018-01-01 12:06:18.0390,2018-01-01 12:15:28.4430,3183,Exchange Place,40.716247,-74.033459,3199,Newport Pkwy,40.728745,-74.032108,31845,Subscriber,1969,Female
2,8.500000,2018-01-01 12:06:56.9780,2018-01-01 12:15:27.8100,3183,Exchange Place,40.716247,-74.033459,3199,Newport Pkwy,40.728745,-74.032108,31708,Subscriber,1946,Male
3,5.900000,2018-01-01 14:53:10.1860,2018-01-01 14:59:05.0960,3183,Exchange Place,40.716247,-74.033459,3267,Morris Canal,40.712419,-74.038526,31697,Subscriber,1994,Male
4,4.166667,2018-01-01 17:34:30.1920,2018-01-01 17:38:40.9840,3183,Exchange Place,40.716247,-74.033459,3639,Harborside,40.719252,-74.034234,31861,Subscriber,1991,Male

In [7]:
yr2018 = yr2018.round({'tripduration': 2})
yr2018.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,15.53,2018-01-01 02:06:17.5410,2018-01-01 02:21:50.0270,3183,Exchange Place,40.716247,-74.033459,3199,Newport Pkwy,40.728745,-74.032108,31929,Subscriber,1992,Male
1,9.17,2018-01-01 12:06:18.0390,2018-01-01 12:15:28.4430,3183,Exchange Place,40.716247,-74.033459,3199,Newport Pkwy,40.728745,-74.032108,31845,Subscriber,1969,Female
2,8.50,2018-01-01 12:06:56.9780,2018-01-01 12:15:27.8100,3183,Exchange Place,40.716247,-74.033459,3199,Newport Pkwy,40.728745,-74.032108,31708,Subscriber,1946,Male
3,5.90,2018-01-01 14:53:10.1860,2018-01-01 14:59:05.0960,3183,Exchange Place,40.716247,-74.033459,3267,Morris Canal,40.712419,-74.038526,31697,Subscriber,1994,Male
4,4.17,2018-01-01 17:34:30.1920,2018-01-01 17:38:40.9840,3183,Exchange Place,40.716247,-74.033459,3639,Harborside,40.719252,-74.034234,31861,Subscriber,1991,Male

In [13]:
yr2018['startyear'] = yr2018["starttime"].str[:4]
yr2018['startmonth'] = yr2018['starttime'].str[5:7]
yr2018['startdate'] = yr2018["starttime"].str[:10]
yr2018['starttimeHr'] = yr2018["starttime"].str[11:16]
yr2018['stopyear'] = yr2018["stoptime"].str[:4]
yr2018['stopmonth'] = yr2018['stoptime'].str[5:7]
yr2018['stopdate'] = yr2018["stoptime"].str[:10]
yr2018['stoptimeHr'] = yr2018["stoptime"].str[11:16]
yr2018.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,...,birth year,gender,startyear,startmonth,startdate,starttimeHr,stopyear,stopmonth,stopdate,stoptimeHr
0,15.53,2018-01-01 02:06:17.5410,2018-01-01 02:21:50.0270,3183,Exchange Place,40.716247,-74.033459,3199,Newport Pkwy,40.728745,...,1992,Male,2018,01,2018-01-01,02:06,2018,01,2018-01-01,02:21
1,9.17,2018-01-01 12:06:18.0390,2018-01-01 12:15:28.4430,3183,Exchange Place,40.716247,-74.033459,3199,Newport Pkwy,40.728745,...,1969,Female,2018,01,2018-01-01,12:06,2018,01,2018-01-01,12:15
2,8.50,2018-01-01 12:06:56.9780,2018-01-01 12:15:27.8100,3183,Exchange Place,40.716247,-74.033459,3199,Newport Pkwy,40.728745,...,1946,Male,2018,01,2018-01-01,12:06,2018,01,2018-01-01,12:15
3,5.90,2018-01-01 14:53:10.1860,2018-01-01 14:59:05.0960,3183,Exchange Place,40.716247,-74.033459,3267,Morris Canal,40.712419,...,1994,Male,2018,01,2018-01-01,14:53,2018,01,2018-01-01,14:59
4,4.17,2018-01-01 17:34:30.1920,2018-01-01 17:38:40.9840,3183,Exchange Place,40.716247,-74.033459,3639,Harborside,40.719252,...,1991,Male,2018,01,2018-01-01,17:34,2018,01,2018-01-01,17:38

In [14]:
yr2018.dropna()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,...,birth year,gender,startyear,startmonth,startdate,starttimeHr,stopyear,stopmonth,stopdate,stoptimeHr
0,15.53,2018-01-01 02:06:17.5410,2018-01-01 02:21:50.0270,3183,Exchange Place,40.716247,-74.033459,3199,Newport Pkwy,40.728745,...,1992,Male,2018,01,2018-01-01,02:06,2018,01,2018-01-01,02:21
1,9.17,2018-01-01 12:06:18.0390,2018-01-01 12:15:28.4430,3183,Exchange Place,40.716247,-74.033459,3199,Newport Pkwy,40.728745,...,1969,Female,2018,01,2018-01-01,12:06,2018,01,2018-01-01,12:15
2,8.50,2018-01-01 12:06:56.9780,2018-01-01 12:15:27.8100,3183,Exchange Place,40.716247,-74.033459,3199,Newport Pkwy,40.728745,...,1946,Male,2018,01,2018-01-01,12:06,2018,01,2018-01-01,12:15
3,5.90,2018-01-01 14:53:10.1860,2018-01-01 14:59:05.0960,3183,Exchange Place,40.716247,-74.033459,3267,Morris Canal,40.712419,...,1994,Male,2018,01,2018-01-01,14:53,2018,01,2018-01-01,14:59
4,4.17,2018-01-01 17:34:30.1920,2018-01-01 17:38:40.9840,3183,Exchange Place,40.716247,-74.033459,3639,Harborside,40.719252,...,1991,Male,2018,01,2018-01-01,17:34,2018,01,2018-01-01,17:38
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
353887,18.02,2018-12-22 11:51:46.0600,2018-12-22 12:09:47.4730,3694,Jackson Square,40.711130,-74.078900,3269,Brunswick & 6th,40.726012,...,1993,Male,2018,12,2018-12-22,11:51,2018,12,2018-12-22,12:09
353888,5.73,2018-12-25 21:40:09.8660,2018-12-25 21:45:54.2670,3694,Jackson Square,40.711130,-74.078900,3280,Astor Place,40.719282,...,1983,Female,2018,12,2018-12-25,21:40,2018,12,2018-12-25,21:45
353889,20.55,2018-12-29 12:55:45.9690,2018-12-29 13:16:19.5960,3694,Jackson Square,40.711130,-74.078900,3186,Grove St PATH,40.719586,...,1988,Male,2018,12,2018-12-29,12:55,2018,12,2018-12-29,13:16
353890,17.62,2018-12-30 15:32:09.3320,2018-12-30 15:49:46.3510,3694,Jackson Square,40.711130,-74.078900,3213,Van Vorst Park,40.718489,...,1991,Female,2018,12,2018-12-30,15:32,2018,12,2018-12-30,15:49
353891,5.02,2018-12-31 16:34:11.9340,2018-12-31 16:39:13.8340,3694,Jackson Square,40.711130,-74.078900,3277,Communipaw & Berry Lane,40.714358,...,1991,Male,2018,12,2018-12-31,16:34,2018,12,2018-12-31,16:39

In [15]:
yr2018.to_csv('Resources/2018/2018_cleaned.csv', index=False)

In [16]:
yr2019 = pd.read_csv('Resources/2019/2019_merged.csv')
yr2019.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,201,2019-01-01 03:09:09.7110,2019-01-01 03:12:30.8790,3183,Exchange Place,40.716247,-74.033459,3214,Essex Light Rail,40.712774,-74.036486,29612,Subscriber,1993,1
1,505,2019-01-01 05:18:00.1060,2019-01-01 05:26:25.9050,3183,Exchange Place,40.716247,-74.033459,3638,Washington St,40.724294,-74.035483,29213,Subscriber,1972,2
2,756,2019-01-01 10:36:33.3400,2019-01-01 10:49:10.2600,3183,Exchange Place,40.716247,-74.033459,3192,Liberty Light Rail,40.711242,-74.055701,26164,Subscriber,1985,1
3,1575,2019-01-01 12:43:38.6430,2019-01-01 13:09:54.5280,3183,Exchange Place,40.716247,-74.033459,3638,Washington St,40.724294,-74.035483,29672,Customer,1969,0
4,1566,2019-01-01 12:43:39.6010,2019-01-01 13:09:46.5100,3183,Exchange Place,40.716247,-74.033459,3638,Washington St,40.724294,-74.035483,29522,Customer,1969,0

In [17]:
yr2019.count()

tripduration               404947
starttime                  404947
stoptime                   404947
start station id           404947
start station name         404947
start station latitude     404947
start station longitude    404947
end station id             404947
end station name           404947
end station latitude       404947
end station longitude      404947
bikeid                     404947
usertype                   404947
birth year                 404947
gender                     404947
dtype: int64

In [19]:
yr2019['gender'].replace([0,1,2],['Unknown','Male', 'Female'],inplace=True)
yr2019.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,201,2019-01-01 03:09:09.7110,2019-01-01 03:12:30.8790,3183,Exchange Place,40.716247,-74.033459,3214,Essex Light Rail,40.712774,-74.036486,29612,Subscriber,1993,Male
1,505,2019-01-01 05:18:00.1060,2019-01-01 05:26:25.9050,3183,Exchange Place,40.716247,-74.033459,3638,Washington St,40.724294,-74.035483,29213,Subscriber,1972,Female
2,756,2019-01-01 10:36:33.3400,2019-01-01 10:49:10.2600,3183,Exchange Place,40.716247,-74.033459,3192,Liberty Light Rail,40.711242,-74.055701,26164,Subscriber,1985,Male
3,1575,2019-01-01 12:43:38.6430,2019-01-01 13:09:54.5280,3183,Exchange Place,40.716247,-74.033459,3638,Washington St,40.724294,-74.035483,29672,Customer,1969,Unknown
4,1566,2019-01-01 12:43:39.6010,2019-01-01 13:09:46.5100,3183,Exchange Place,40.716247,-74.033459,3638,Washington St,40.724294,-74.035483,29522,Customer,1969,Unknown

In [20]:
yr2019['tripduration'] = yr2019['tripduration']/60
yr2019.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,3.350000,2019-01-01 03:09:09.7110,2019-01-01 03:12:30.8790,3183,Exchange Place,40.716247,-74.033459,3214,Essex Light Rail,40.712774,-74.036486,29612,Subscriber,1993,Male
1,8.416667,2019-01-01 05:18:00.1060,2019-01-01 05:26:25.9050,3183,Exchange Place,40.716247,-74.033459,3638,Washington St,40.724294,-74.035483,29213,Subscriber,1972,Female
2,12.600000,2019-01-01 10:36:33.3400,2019-01-01 10:49:10.2600,3183,Exchange Place,40.716247,-74.033459,3192,Liberty Light Rail,40.711242,-74.055701,26164,Subscriber,1985,Male
3,26.250000,2019-01-01 12:43:38.6430,2019-01-01 13:09:54.5280,3183,Exchange Place,40.716247,-74.033459,3638,Washington St,40.724294,-74.035483,29672,Customer,1969,Unknown
4,26.100000,2019-01-01 12:43:39.6010,2019-01-01 13:09:46.5100,3183,Exchange Place,40.716247,-74.033459,3638,Washington St,40.724294,-74.035483,29522,Customer,1969,Unknown

In [21]:
yr2019 = yr2019.round({'tripduration': 2})
yr2019.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,3.35,2019-01-01 03:09:09.7110,2019-01-01 03:12:30.8790,3183,Exchange Place,40.716247,-74.033459,3214,Essex Light Rail,40.712774,-74.036486,29612,Subscriber,1993,Male
1,8.42,2019-01-01 05:18:00.1060,2019-01-01 05:26:25.9050,3183,Exchange Place,40.716247,-74.033459,3638,Washington St,40.724294,-74.035483,29213,Subscriber,1972,Female
2,12.60,2019-01-01 10:36:33.3400,2019-01-01 10:49:10.2600,3183,Exchange Place,40.716247,-74.033459,3192,Liberty Light Rail,40.711242,-74.055701,26164,Subscriber,1985,Male
3,26.25,2019-01-01 12:43:38.6430,2019-01-01 13:09:54.5280,3183,Exchange Place,40.716247,-74.033459,3638,Washington St,40.724294,-74.035483,29672,Customer,1969,Unknown
4,26.10,2019-01-01 12:43:39.6010,2019-01-01 13:09:46.5100,3183,Exchange Place,40.716247,-74.033459,3638,Washington St,40.724294,-74.035483,29522,Customer,1969,Unknown

In [22]:
yr2019['startyear'] = yr2019["starttime"].str[:4]
yr2019['startmonth'] = yr2019['starttime'].str[5:7]
yr2019['startdate'] = yr2019["starttime"].str[:10]
yr2019['starttimeHr'] = yr2019["starttime"].str[11:16]
yr2019['stopyear'] = yr2019["stoptime"].str[:4]
yr2019['stopmonth'] = yr2019['stoptime'].str[5:7]
yr2019['stopdate'] = yr2019["stoptime"].str[:10]
yr2019['stoptimeHr'] = yr2019["stoptime"].str[11:16]
yr2019.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,...,birth year,gender,startyear,startmonth,startdate,starttimeHr,stopyear,stopmonth,stopdate,stoptimeHr
0,3.35,2019-01-01 03:09:09.7110,2019-01-01 03:12:30.8790,3183,Exchange Place,40.716247,-74.033459,3214,Essex Light Rail,40.712774,...,1993,Male,2019,01,2019-01-01,03:09,2019,01,2019-01-01,03:12
1,8.42,2019-01-01 05:18:00.1060,2019-01-01 05:26:25.9050,3183,Exchange Place,40.716247,-74.033459,3638,Washington St,40.724294,...,1972,Female,2019,01,2019-01-01,05:18,2019,01,2019-01-01,05:26
2,12.60,2019-01-01 10:36:33.3400,2019-01-01 10:49:10.2600,3183,Exchange Place,40.716247,-74.033459,3192,Liberty Light Rail,40.711242,...,1985,Male,2019,01,2019-01-01,10:36,2019,01,2019-01-01,10:49
3,26.25,2019-01-01 12:43:38.6430,2019-01-01 13:09:54.5280,3183,Exchange Place,40.716247,-74.033459,3638,Washington St,40.724294,...,1969,Unknown,2019,01,2019-01-01,12:43,2019,01,2019-01-01,13:09
4,26.10,2019-01-01 12:43:39.6010,2019-01-01 13:09:46.5100,3183,Exchange Place,40.716247,-74.033459,3638,Washington St,40.724294,...,1969,Unknown,2019,01,2019-01-01,12:43,2019,01,2019-01-01,13:09

In [24]:
yr2019.dropna()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,...,birth year,gender,startyear,startmonth,startdate,starttimeHr,stopyear,stopmonth,stopdate,stoptimeHr
0,3.35,2019-01-01 03:09:09.7110,2019-01-01 03:12:30.8790,3183,Exchange Place,40.716247,-74.033459,3214,Essex Light Rail,40.712774,...,1993,Male,2019,01,2019-01-01,03:09,2019,01,2019-01-01,03:12
1,8.42,2019-01-01 05:18:00.1060,2019-01-01 05:26:25.9050,3183,Exchange Place,40.716247,-74.033459,3638,Washington St,40.724294,...,1972,Female,2019,01,2019-01-01,05:18,2019,01,2019-01-01,05:26
2,12.60,2019-01-01 10:36:33.3400,2019-01-01 10:49:10.2600,3183,Exchange Place,40.716247,-74.033459,3192,Liberty Light Rail,40.711242,...,1985,Male,2019,01,2019-01-01,10:36,2019,01,2019-01-01,10:49
3,26.25,2019-01-01 12:43:38.6430,2019-01-01 13:09:54.5280,3183,Exchange Place,40.716247,-74.033459,3638,Washington St,40.724294,...,1969,Unknown,2019,01,2019-01-01,12:43,2019,01,2019-01-01,13:09
4,26.10,2019-01-01 12:43:39.6010,2019-01-01 13:09:46.5100,3183,Exchange Place,40.716247,-74.033459,3638,Washington St,40.724294,...,1969,Unknown,2019,01,2019-01-01,12:43,2019,01,2019-01-01,13:09
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
404942,4.72,2019-12-31 23:12:18.5480,2019-12-31 23:17:01.8740,3195,Sip Ave,40.730897,-74.063913,3679,Bergen Ave,40.722104,...,1990,Male,2019,12,2019-12-31,23:12,2019,12,2019-12-31,23:17
404943,4.45,2019-12-31 23:19:03.5840,2019-12-31 23:23:30.6640,3186,Grove St PATH,40.719586,-74.043117,3205,JC Medical Center,40.716540,...,1989,Male,2019,12,2019-12-31,23:19,2019,12,2019-12-31,23:23
404944,6.32,2019-12-31 23:19:06.5830,2019-12-31 23:25:25.7970,3209,Brunswick St,40.724176,-74.050656,3185,City Hall,40.717732,...,1984,Male,2019,12,2019-12-31,23:19,2019,12,2019-12-31,23:25
404945,3.13,2019-12-31 23:24:00.2630,2019-12-31 23:27:09.0400,3639,Harborside,40.719252,-74.034234,3186,Grove St PATH,40.719586,...,1987,Male,2019,12,2019-12-31,23:24,2019,12,2019-12-31,23:27
404946,5.43,2019-12-31 23:45:20.9780,2019-12-31 23:50:47.7490,3195,Sip Ave,40.730897,-74.063913,3280,Astor Place,40.719282,...,1988,Male,2019,12,2019-12-31,23:45,2019,12,2019-12-31,23:50

In [25]:
yr2019.to_csv('Resources/2019/2019_cleaned.csv', index=False)

In [26]:
yr2020 = pd.read_csv('Resources/2020/2020_merged.csv')
yr2020.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,226,2020-01-01 00:04:50.1920,2020-01-01 00:08:37.0370,3186,Grove St PATH,40.719586,-74.043117,3211,Newark Ave,40.721525,-74.046305,29444,Subscriber,1984,2
1,377,2020-01-01 00:16:01.6700,2020-01-01 00:22:19.0800,3186,Grove St PATH,40.719586,-74.043117,3269,Brunswick & 6th,40.726012,-74.050389,26305,Subscriber,1989,2
2,288,2020-01-01 00:17:33.8770,2020-01-01 00:22:22.4420,3186,Grove St PATH,40.719586,-74.043117,3269,Brunswick & 6th,40.726012,-74.050389,29268,Customer,1989,1
3,435,2020-01-01 00:32:05.9020,2020-01-01 00:39:21.0660,3195,Sip Ave,40.730897,-74.063913,3280,Astor Place,40.719282,-74.071262,29278,Customer,1969,0
4,231,2020-01-01 00:46:19.6780,2020-01-01 00:50:11.3440,3186,Grove St PATH,40.719586,-74.043117,3276,Marin Light Rail,40.714584,-74.042817,29276,Subscriber,1983,2

In [27]:
yr2020.count()

tripduration               336802
starttime                  336802
stoptime                   336802
start station id           336802
start station name         336802
start station latitude     336802
start station longitude    336802
end station id             336802
end station name           336802
end station latitude       336802
end station longitude      336802
bikeid                     336802
usertype                   336802
birth year                 336802
gender                     336802
dtype: int64

In [28]:
yr2020['gender'].replace([0,1,2],['Unknown','Male', 'Female'],inplace=True)
yr2020.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,226,2020-01-01 00:04:50.1920,2020-01-01 00:08:37.0370,3186,Grove St PATH,40.719586,-74.043117,3211,Newark Ave,40.721525,-74.046305,29444,Subscriber,1984,Female
1,377,2020-01-01 00:16:01.6700,2020-01-01 00:22:19.0800,3186,Grove St PATH,40.719586,-74.043117,3269,Brunswick & 6th,40.726012,-74.050389,26305,Subscriber,1989,Female
2,288,2020-01-01 00:17:33.8770,2020-01-01 00:22:22.4420,3186,Grove St PATH,40.719586,-74.043117,3269,Brunswick & 6th,40.726012,-74.050389,29268,Customer,1989,Male
3,435,2020-01-01 00:32:05.9020,2020-01-01 00:39:21.0660,3195,Sip Ave,40.730897,-74.063913,3280,Astor Place,40.719282,-74.071262,29278,Customer,1969,Unknown
4,231,2020-01-01 00:46:19.6780,2020-01-01 00:50:11.3440,3186,Grove St PATH,40.719586,-74.043117,3276,Marin Light Rail,40.714584,-74.042817,29276,Subscriber,1983,Female

In [29]:
yr2020['tripduration'] = yr2020['tripduration']/60
yr2020.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,3.766667,2020-01-01 00:04:50.1920,2020-01-01 00:08:37.0370,3186,Grove St PATH,40.719586,-74.043117,3211,Newark Ave,40.721525,-74.046305,29444,Subscriber,1984,Female
1,6.283333,2020-01-01 00:16:01.6700,2020-01-01 00:22:19.0800,3186,Grove St PATH,40.719586,-74.043117,3269,Brunswick & 6th,40.726012,-74.050389,26305,Subscriber,1989,Female
2,4.800000,2020-01-01 00:17:33.8770,2020-01-01 00:22:22.4420,3186,Grove St PATH,40.719586,-74.043117,3269,Brunswick & 6th,40.726012,-74.050389,29268,Customer,1989,Male
3,7.250000,2020-01-01 00:32:05.9020,2020-01-01 00:39:21.0660,3195,Sip Ave,40.730897,-74.063913,3280,Astor Place,40.719282,-74.071262,29278,Customer,1969,Unknown
4,3.850000,2020-01-01 00:46:19.6780,2020-01-01 00:50:11.3440,3186,Grove St PATH,40.719586,-74.043117,3276,Marin Light Rail,40.714584,-74.042817,29276,Subscriber,1983,Female

In [30]:
yr2020 = yr2020.round({'tripduration': 2})
yr2020.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,3.77,2020-01-01 00:04:50.1920,2020-01-01 00:08:37.0370,3186,Grove St PATH,40.719586,-74.043117,3211,Newark Ave,40.721525,-74.046305,29444,Subscriber,1984,Female
1,6.28,2020-01-01 00:16:01.6700,2020-01-01 00:22:19.0800,3186,Grove St PATH,40.719586,-74.043117,3269,Brunswick & 6th,40.726012,-74.050389,26305,Subscriber,1989,Female
2,4.80,2020-01-01 00:17:33.8770,2020-01-01 00:22:22.4420,3186,Grove St PATH,40.719586,-74.043117,3269,Brunswick & 6th,40.726012,-74.050389,29268,Customer,1989,Male
3,7.25,2020-01-01 00:32:05.9020,2020-01-01 00:39:21.0660,3195,Sip Ave,40.730897,-74.063913,3280,Astor Place,40.719282,-74.071262,29278,Customer,1969,Unknown
4,3.85,2020-01-01 00:46:19.6780,2020-01-01 00:50:11.3440,3186,Grove St PATH,40.719586,-74.043117,3276,Marin Light Rail,40.714584,-74.042817,29276,Subscriber,1983,Female

In [31]:
yr2020['startyear'] = yr2020["starttime"].str[:4]
yr2020['startmonth'] = yr2020['starttime'].str[5:7]
yr2020['startdate'] = yr2020["starttime"].str[:10]
yr2020['starttimeHr'] = yr2020["starttime"].str[11:16]
yr2020['stopyear'] = yr2020["stoptime"].str[:4]
yr2020['stopmonth'] = yr2020['stoptime'].str[5:7]
yr2020['stopdate'] = yr2020["stoptime"].str[:10]
yr2020['stoptimeHr'] = yr2020["stoptime"].str[11:16]
yr2020.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,...,birth year,gender,startyear,startmonth,startdate,starttimeHr,stopyear,stopmonth,stopdate,stoptimeHr
0,3.77,2020-01-01 00:04:50.1920,2020-01-01 00:08:37.0370,3186,Grove St PATH,40.719586,-74.043117,3211,Newark Ave,40.721525,...,1984,Female,2020,01,2020-01-01,00:04,2020,01,2020-01-01,00:08
1,6.28,2020-01-01 00:16:01.6700,2020-01-01 00:22:19.0800,3186,Grove St PATH,40.719586,-74.043117,3269,Brunswick & 6th,40.726012,...,1989,Female,2020,01,2020-01-01,00:16,2020,01,2020-01-01,00:22
2,4.80,2020-01-01 00:17:33.8770,2020-01-01 00:22:22.4420,3186,Grove St PATH,40.719586,-74.043117,3269,Brunswick & 6th,40.726012,...,1989,Male,2020,01,2020-01-01,00:17,2020,01,2020-01-01,00:22
3,7.25,2020-01-01 00:32:05.9020,2020-01-01 00:39:21.0660,3195,Sip Ave,40.730897,-74.063913,3280,Astor Place,40.719282,...,1969,Unknown,2020,01,2020-01-01,00:32,2020,01,2020-01-01,00:39
4,3.85,2020-01-01 00:46:19.6780,2020-01-01 00:50:11.3440,3186,Grove St PATH,40.719586,-74.043117,3276,Marin Light Rail,40.714584,...,1983,Female,2020,01,2020-01-01,00:46,2020,01,2020-01-01,00:50

In [33]:
yr2020.dropna()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,...,birth year,gender,startyear,startmonth,startdate,starttimeHr,stopyear,stopmonth,stopdate,stoptimeHr
0,3.77,2020-01-01 00:04:50.1920,2020-01-01 00:08:37.0370,3186,Grove St PATH,40.719586,-74.043117,3211,Newark Ave,40.721525,...,1984,Female,2020,01,2020-01-01,00:04,2020,01,2020-01-01,00:08
1,6.28,2020-01-01 00:16:01.6700,2020-01-01 00:22:19.0800,3186,Grove St PATH,40.719586,-74.043117,3269,Brunswick & 6th,40.726012,...,1989,Female,2020,01,2020-01-01,00:16,2020,01,2020-01-01,00:22
2,4.80,2020-01-01 00:17:33.8770,2020-01-01 00:22:22.4420,3186,Grove St PATH,40.719586,-74.043117,3269,Brunswick & 6th,40.726012,...,1989,Male,2020,01,2020-01-01,00:17,2020,01,2020-01-01,00:22
3,7.25,2020-01-01 00:32:05.9020,2020-01-01 00:39:21.0660,3195,Sip Ave,40.730897,-74.063913,3280,Astor Place,40.719282,...,1969,Unknown,2020,01,2020-01-01,00:32,2020,01,2020-01-01,00:39
4,3.85,2020-01-01 00:46:19.6780,2020-01-01 00:50:11.3440,3186,Grove St PATH,40.719586,-74.043117,3276,Marin Light Rail,40.714584,...,1983,Female,2020,01,2020-01-01,00:46,2020,01,2020-01-01,00:50
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
336797,29.17,2020-12-31 23:07:44.0030,2020-12-31 23:36:54.4710,3199,Newport Pkwy,40.728745,-74.032108,3199,Newport Pkwy,40.728745,...,1969,Unknown,2020,12,2020-12-31,23:07,2020,12,2020-12-31,23:36
336798,25.32,2020-12-31 23:18:00.2630,2020-12-31 23:43:19.8590,3184,Paulus Hook,40.714145,-74.033552,3195,Sip Ave,40.730897,...,1969,Unknown,2020,12,2020-12-31,23:18,2020,12,2020-12-31,23:43
336799,29.35,2020-12-31 23:31:09.4620,2021-01-01 00:00:31.3290,3195,Sip Ave,40.730897,-74.063913,3270,Jersey & 6th St,40.725289,...,1998,Male,2020,12,2020-12-31,23:31,2021,01,2021-01-01,00:00
336800,10.62,2020-12-31 23:35:45.4640,2020-12-31 23:46:22.7300,3681,Grand St,40.715178,-74.037683,3199,Newport Pkwy,40.728745,...,1969,Unknown,2020,12,2020-12-31,23:35,2020,12,2020-12-31,23:46
336801,26.78,2020-12-31 23:48:34.5750,2021-01-01 00:15:22.3090,3267,Morris Canal,40.712419,-74.038526,3267,Morris Canal,40.712419,...,1982,Male,2020,12,2020-12-31,23:48,2021,01,2021-01-01,00:15

In [34]:
yr2020.to_csv('Resources/2020/2020_cleaned.csv', index=False)